/* beautiful list design */
*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    /* dark background */
    background:#251749;
    font-family: sans-serif;
  overflow:hidden;
  position: relative;
  height:100vh;
  width:100%;
  }


.loader{
  width: 100%;
  height:100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 9999999;
    border:solid red 
}

.loader.show{
    display: block;
}

.loader__inner{
    position: absolute;
    height:50px;
    width:50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;

    animation: spin 1s linear infinite;
    top:40%;
    left:45%;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}




.title{
    font-size: 28px;
    color:#feffff;
    text-align: center;
    margin-bottom: 10px;
  
}


  canvas {
    height:200px;
    width:250px;
    border-radius:10px;
  }

  .video-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding:20px; */
     height: 180px;
    /* width:270px;  */
    border-radius:10px;
    overflow: hidden;
    border:solid gray 2px;
  }

 

  .container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width:100%;
  }


  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    max-width:500px;
    max-height:300px;

  }
 
  

  .canva-container {
    position: relative;
    width: 300px;;
    /* height: 300px; */
    display: flex;
    padding:10px;
    align-items: center;
    justify-content: center;
  }
  .canva-container overlay{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    border:solid red 1px;
  }


  #expression{
    height:40px;
    font-size: 25px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
   padding:6px;
   display: flex;
    align-items: center;
    justify-content: center;
   /* color:white; */
   /* background-color: transparent; */
   width:65%;
  }

  




.angry{
  background-color: red;
}

.happy{
  background-color: green;
}

.sad{
  background-color: blue;
}

.neutral{
  background-color: yellow;
  color: black;
}

.fearful{
  background-color: purple;
}

.disgusted{
  background-color: orange;
  color: black;
}

.surprised{
  background-color: pink;
  color: black;
}

.no-face{
  background-color: black;
  color: white;
}

.suggested-songs{
    border:solid black 2px;
    margin-bottom: 10px;
    border-radius: 10px;
   
    padding: 10px 20px 10px 20px;
    height:calc(100vh - 380px);
    margin-top: 20px;
    overflow: hidden;
    width:100%;
    position: absolute;
    bottom:0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.suggested-songs .title{
    font-size: 20px;
    color:#bddb00;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.song-header{
  display: flex;
  padding:10px;
  justify-content: flex-start;
  align-items: center;
  gap:15px
}
.song-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x:hidden ;
  width: 100%;
  height:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}


.song-list li{
    background-color: #f1f1f1;
    width: 90%;
    padding: 10px;

    border-radius: 10px;
}

.song-info{

    width: 70%;
}
.song-controls{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}


.song-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.play-btn,.pause-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
   
}



.check-box {
	/* transform: scale(0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.check-box label{
  font-size: 21px;
  color: #fff;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 65px;
    height: 30px;
    background: #ccc;
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

input:checked[type="checkbox"] {
    background: #7da6ff;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

input:checked[type="checkbox"]::after {
    left: 50%;
}


.hide{
  display: none;
}

.pause-btn{
  display: none;
}

.show{
  display: block!important;
}

/* change li background color if it contains any child with show class */

.song-list .active{
  background-color: #bddb00 !important;
  background-image: url(./images/eq.gif);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: 100% 100%;
  background-size: contain;
  /* blur  only background */
  backdrop-filter: blur(10px);

  background-blend-mode:color-dodge;
}


